# BTC ML/DL Trading strategy

In [2]:
from src.Utils import *

In [10]:
df = pq.read_pandas(source=f"assets/parquet/{Utils.get_asset_id('Bitcoin')}.parquet").to_pandas()

In [16]:
df

,Count,Open,High,Low,Close,Volume,VWAP
timestamp,,,,,,,
2018-01-01 00:01:00,229,13835.194000,14013.8,13666.11,13850.176000,31.550062,13827.062093
2018-01-01 00:02:00,235,13835.036000,14052.3,13680.00,13828.102000,31.046432,13840.362591
2018-01-01 00:03:00,528,13823.900000,14000.4,13601.00,13801.314000,55.061820,13806.068014
2018-01-01 00:04:00,435,13802.512000,13999.0,13576.28,13768.040000,38.780529,13783.598101
2018-01-01 00:05:00,742,13766.000000,13955.9,13554.44,13724.914000,108.501637,13735.586842
...,...,...,...,...,...,...,...
2022-01-23 23:56:00,1221,36278.361667,36331.0,36249.00,36293.123333,30.247067,36289.796806
2022-01-23 23:57:00,1634,36289.681667,36328.0,36230.72,36261.708333,35.647000,36276.229399
2022-01-23 23:58:00,1570,36262.841667,36319.0,36230.30,36276.223333,49.867700,36274.441548
2022-01-23 23:59:00,1459,36268.849570,36313.0,36231.71,36276.623333,43.030556,36274.613301
2022-01-24 00:00:00,2917,36262.038571,36302.0,36176.45,36221.987143,110.053151,36247.575361

In [17]:
df = pq.read_pandas(source=f"assets/parquet/ALL.parquet").to_pandas()

In [19]:
df

,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP
timestamp,,,,,,,,
2018-01-01 00:01:00,2,40,2376.58000,2399.500000,2357.140000,2374.590000,1.923301e+01,2373.116392
2018-01-01 00:01:00,0,5,8.53000,8.530000,8.530000,8.530000,7.838000e+01,8.530000
2018-01-01 00:01:00,1,229,13835.19400,14013.800000,13666.110000,13850.176000,3.155006e+01,13827.062093
2018-01-01 00:01:00,5,32,7.65960,7.659600,7.656700,7.657600,6.626713e+03,7.657713
2018-01-01 00:01:00,7,5,25.92000,25.920000,25.874000,25.877000,1.210873e+02,25.891363
...,...,...,...,...,...,...,...,...
2022-01-24 00:00:00,9,214,112.29300,112.470000,111.840000,111.983333,1.243860e+03,112.127619
2022-01-24 00:00:00,10,25,1833.56500,1834.700000,1831.050000,1833.018333,4.190290e+00,1833.173692
2022-01-24 00:00:00,13,235,0.05752,0.057618,0.057389,0.057478,8.988253e+05,0.057519
2022-01-24 00:00:00,12,492,0.20094,0.201066,0.199352,0.200093,2.983796e+06,0.200413
2022-01-24 00:00:00,11,40,156.76400,156.930000,156.200000,156.550000,7.439747e+01,156.638720